<ul class="account-nav">
  {% for link in linklists.account-menu.links %}
    <li>
      <a href="{{ link.url }}">
        {% if link.title == "Home" %}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Home_green.png?v=1592005625' | img_tag }}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Home_green_46645761-0d17-448c-b8b7-350cb8591852.png?v=1593520852' | img_tag }}
        {% elsif link.title == "My Account" %}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/account_white.png?v=1592002848' | img_tag }}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/MY_ACCOUNT_551ffab5-0fc6-4b28-b19d-b6ac71ea1ea0.png?v=1593535035' | img_tag }}
        {% elsif link.title == "Shopping Cart" %}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_white.png?v=1592002848' | img_tag }}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/SHOPPING_CART.png?v=1593535348' | img_tag }}
        {% elsif link.title == "Checkout" %}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/check_white.png?v=1592002848' | img_tag }}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/CHECKOUT.png?v=1593535681' | img_tag }}
        {% endif %}
        <!-- {{ link.title | escape }} -->
      </a>
    </li>
  {% endfor %}
  {% include 'gtranslate' %}
</ul>