<div class="brands">
  <div class="brands-container">
    <div class="brands-button">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/OUR_BRAND.png?v=1593134460' }}" alt="brands button">
    </div>
    <ul class="brands-list">
      <li class="brand">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/brand_4.png?v=1593134460' }}" alt="brand">
      </li>
      <li class="brand">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/brand_5.png?v=1593134461' }}" alt="brand">
      </li>
      <li class="brand">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/brand_1.png?v=1593134461' }}" alt="brand">
      </li>
      <li class="brand">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/brand_4.png?v=1593134460' }}" alt="brand">
      </li>
      <li class="brand">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/brand_2.png?v=1593134461' }}" alt="brand">
      </li>
      <li class="brand">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/brand_3.png?v=1593134461' }}" alt="brand">
      </li>
    </ul>
  </div>
</div>