<div class="delivery-bar">
  <div class="grid-wrapper">
    <div class="grid-cell">
      <div class="flex-container">
        <div class="cell-icon">
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/paper_plane.png?v=1592637719' | img_tag }}
        </div>
        <div class="cell-text">
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/First_Shipping.png?v=1592637719' | img_tag }}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Get_you_every_whare.png?v=1592637719' | img_tag }}
        </div>        
      </div>
    </div>
    <div class="grid-cell">
      <div class="flex-container">
        <div class="cell-icon">
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Lock.png?v=1592642121' | img_tag }}
        </div>
        <div class="cell-text">
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Secure_Store.png?v=1592642121' | img_tag }}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/100__Secure_Store.png?v=1592642121' | img_tag }}
        </div>        
      </div>
    </div>
    <div class="grid-cell">
      <div class="flex-container">
        <div class="cell-icon">
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Clock.png?v=1592646159' | img_tag }}
        </div>
        <div class="cell-text">
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Save_Time.png?v=1592646159' | img_tag }}
          {{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Save_Your_Time.png?v=1592646159' | img_tag }}
        </div>        
      </div>
    </div>
    <div class="grid-cell">
      <div class="cell-icon"></div>
      <div class="cell-text"></div>
    </div>
  </div>
</div>