<div class="product_tabs_1_desktop">
  <div class="tabs_header">
    <div class="arrow left">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/left_green_arrow.png?v=1593000609' }}" alt="left_arrow">
    </div>
    <div class="tab" id="desktop">Desktop</div>
    <div class="arrow right">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/right_green_arrow.png?v=1593000611' }}" alt="right_arrow">
    </div>
  </div>
  <div class="tabs_container desktop">




    <div class="tab_product">
      <div class="product_photo">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/product_1_desktop.png?v=1593795956' }}" alt="product_photo">
      </div>
      <div class="product_name_container">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Smart_Phone_Primo_V1.png?v=1593796862' }}" alt="product_name">
      </div>
      <div class="price_and_rating">
        <div class="price">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/10299.png?v=1593799422' }}" alt="price">
        </div>
        <div class="rating">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/rating_4_and_half_stars.png?v=1593818569' }}" alt="rating">
        </div>
      </div>


      <div class="buttons_bar">
        <button class="add_to_cart"></button>
        <button class="add_to_wishlist"></button>
      </div>


    </div>








    <div class="tab_product">
      <div class="product_photo">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/product_2_desktop.png?v=1593796204' }}" alt="product_photo">
      </div>
      <div class="product_name_container">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Smart_Phone_Primo_V1.png?v=1593796862' }}" alt="product_name">
      </div>
      <div class="price_and_rating">
        <div class="price">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/10000_8000.png?v=1593800023' }}" alt="price">
        </div>
        <div class="rating">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/rating_4_of_5_stars.png?v=1593818569' }}" alt="rating">
        </div>
      </div>
      <div class="buttons_bar"></div>
    </div>
    <div class="tab_product">
      <div class="product_photo">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/product_3_desktop.png?v=1593796551' }}" alt="product_photo">
      </div>
      <div class="product_name_container">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Smart_Phone_Primo_V1.png?v=1593796862' }}" alt="product_name">
      </div>
      <div class="price_and_rating">
        <div class="price">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/10299_221dde58-6d33-4ec0-bb66-7f36a584182b.png?v=1593805360' }}" alt="price">
        </div>
        <div class="rating">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/rating_3_and_half_stars.png?v=1593818569' }}" alt="rating">
        </div>
      </div>
      <div class="buttons_bar"></div>
    </div>
    <!-- {% include 'tab_product' %}
    {% include 'tab_product' %}
    {% include 'tab_product' %} -->
  </div>
</div>