<div class="product_tabs_4">

  <div class="tabs_header">
    <div class="arrow_container" onclick="prev()">
      <i class="arrow left"></i>
    </div>

    <!-- Desktop Horizontal Tabs -->
    <nav class="multiTabs">
        <a href="javascript:void(0)" data-trigger='content1'>
          {% assign Featured_collection = collections["Featured"] %}
          <div class="tab" id="tab1">{{ Featured_collection.title }}</div>
        </a>
        <a href="javascript:void(0)" data-trigger='content2'>
          {% assign New_Item_collection = collections["new-item"] %}
          <div class="tab" id="tab2">{{ New_Item_collection.title }}</div>
        </a>
        <a href="javascript:void(0)" data-trigger='content3'>
          {% assign Top_Seller_collection = collections["top-seller"] %}
          <div class="tab" id="tab3">{{ Top_Seller_collection.title }}</div>
        </a>
        <a href="javascript:void(0)" data-trigger='content4'>
          {% assign Top_Rating_collection = collections["top-rating"] %}
          <div class="tab" id="tab4">{{ Top_Rating_collection.title }}</div>
        </a>
    </nav>
    
    <!-- Mobile Tab Dropdown -->
    <div class="tabs_dropdown">
      <select name="product_sets" id="sets">
        <option class="tab active" value="featured" data-trigger='content1'>
          {% assign Featured_collection = collections["Featured"] %}
          <div class="tab" id="mobile_tab1">{{ Featured_collection.title }}</div>
        </option>
        <option class="tab active" value="new_item" data-trigger='content2'>
          {% assign New_Item_collection = collections["new-item"] %}
          <div class="tab" id="mobile_tab2">{{ New_Item_collection.title }}</div>
        </option>
        <option class="tab active" value="top_seller" data-trigger='content3'>
          {% assign Top_Seller_collection = collections["top-seller"] %}
          <div class="tab" id="mobile_tab3">{{ Top_Seller_collection.title }}</div>
        </option>
        <option class="tab active" value="top_rating" data-trigger='content4'>
          {% assign Top_Rating_collection = collections["top-rating"] %}
          <div class="tab" id="mobile_tab4">{{ Top_Rating_collection.title }}</div>
        </option>
      </select>
    </div>


    <div class="arrow_container" onclick="next()">
      <i class="arrow right"></i>
    </div>
  </div>

  <div class="tabcontent active" id="content1">
    <div class="tabs_container">
      {% for product in Featured_collection.products %}
        <div class="tab_product">
          {% if product.compare_at_price %}
            <div class="discount_percent">
              <p>{{ product.price | minus: product.compare_at_price | divided_by: 100 | money_without_currency | remove: '.00' }}%</p>
            </div>
          {% endif %}
          <div class="product_photo">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'large' }}" alt="product_image">            
            </a>
          </div>
          <div class="product_name_container">
            <p>{{ product.title }}</p>
          </div>
          <div class="price_and_rating">
            <div class="price">
              {% if product.compare_at_price %}
                <p class="previous_price">{{ product.compare_at_price | money_with_currency }}</p>
                <p class="current_price price_highlight">{{ product.price | money_with_currency }}</p>               
              {% else %}
                <p class="current_price">{{ product.price | money_with_currency }}</p>
              {% endif %}
            </div>
            <div class="rating">
              <div class="yotpo bottomLine"
                data-appkey="3lLBvLxtXto59qFkbJb0OW5hGtCQ7VU2CrOsDGgn"
                data-domain="{{shop.permanent_domain | escape }}"
                data-product-id="{{ product.id }}"
                data-product-models="{{ product.id }}"
                data-name="{{ product.title | escape }}"
                data-url="{{ shop.url }}{{ product.url }}"
                data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                data-description="{{ product.description | escape }}"
                data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
              </div>
            </div>
          </div>

          <div class="buttons_bar">
            <button class="add_to_cart">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_gray.png?v=1593891089' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_green_button.png?v=1593916239' }}" alt="green_icon">
              <!-- <img class="cart_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/add_to_cart.png?v=1593920675' }}" alt="button_text"> -->
              <p class="cart_text">Add to cart</p>
            </button>
            <button class="add_to_wishlist">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_gray.png?v=1593911148' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_green.png?v=1593916371' }}" alt="green_icon">
              <!-- <img class="wishlist_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_to_wishlist.png?v=1593920675' }}" alt="button_text"> -->
              <p class="wishlist_text">Add to wishlist</p>
            </button>
            <button class="compare">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_gray.png?v=1593913446' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_green.png?v=1593915728' }}" alt="green_icon">
              <!-- <img class="compare_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_toCompare.png?v=1593920675' }}" alt="button_text" > -->
              <p class="compare_text">Add to compare</p>
            </button>
          </div>
        </div>
      {% endfor %}      
    </div>
  </div>

  <div class="tabcontent" id="content2">
    <div class="tabs_container">
      {% for product in New_Item_collection.products %}
        <div class="tab_product">
          {% if product.compare_at_price %}
            <div class="discount_percent">
              <p>{{ product.price | minus: product.compare_at_price | divided_by: 100 | money_without_currency | remove: '.00' }}%</p>
            </div>
          {% endif %}
          <div class="product_photo">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'large' }}" alt="product_image">            
            </a>
          </div>
          <div class="product_name_container">
            <p>{{ product.title }}</p>
          </div>
          <div class="price_and_rating">
            <div class="price">
              {% if product.compare_at_price %}
                <p class="previous_price">{{ product.compare_at_price | money_with_currency }}</p>
                <p class="current_price price_highlight">{{ product.price | money_with_currency }}</p>               
              {% else %}
                <p class="current_price">{{ product.price | money_with_currency }}</p>
              {% endif %}
            </div>
            <div class="rating">
              <div class="yotpo bottomLine"
                data-appkey="3lLBvLxtXto59qFkbJb0OW5hGtCQ7VU2CrOsDGgn"
                data-domain="{{shop.permanent_domain | escape }}"
                data-product-id="{{ product.id }}"
                data-product-models="{{ product.id }}"
                data-name="{{ product.title | escape }}"
                data-url="{{ shop.url }}{{ product.url }}"
                data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                data-description="{{ product.description | escape }}"
                data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
              </div>
            </div>
          </div>

          <div class="buttons_bar">
            <button class="add_to_cart">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_gray.png?v=1593891089' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_green_button.png?v=1593916239' }}" alt="green_icon">
              <!-- <img class="cart_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/add_to_cart.png?v=1593920675' }}" alt="button_text"> -->
              <p class="cart_text">Add to cart</p>
            </button>
            <button class="add_to_wishlist">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_gray.png?v=1593911148' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_green.png?v=1593916371' }}" alt="green_icon">
              <!-- <img class="wishlist_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_to_wishlist.png?v=1593920675' }}" alt="button_text"> -->
              <p class="wishlist_text">Add to wishlist</p>
            </button>
            <button class="compare">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_gray.png?v=1593913446' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_green.png?v=1593915728' }}" alt="green_icon">
              <!-- <img class="compare_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_toCompare.png?v=1593920675' }}" alt="button_text" > -->
              <p class="compare_text">Add to compare</p>
            </button>
          </div>
        </div>
      {% endfor %}      
    </div>
  </div>

  <div class="tabcontent" id="content3">
    <div class="tabs_container">
      {% for product in Top_Seller_collection.products %}
        <div class="tab_product">
          {% if product.compare_at_price %}
            <div class="discount_percent">
              <p>{{ product.price | minus: product.compare_at_price | divided_by: 100 | money_without_currency | remove: '.00' }}%</p>
            </div>
          {% endif %}
          <div class="product_photo">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'large' }}" alt="product_image">            
            </a>
          </div>
          <div class="product_name_container">
            <p>{{ product.title }}</p>
          </div>
          <div class="price_and_rating">
            <div class="price">
              {% if product.compare_at_price %}
                <p class="previous_price">{{ product.compare_at_price | money_with_currency }}</p>
                <p class="current_price price_highlight">{{ product.price | money_with_currency }}</p>               
              {% else %}
                <p class="current_price">{{ product.price | money_with_currency }}</p>
              {% endif %}
            </div>
            <div class="rating">
              <div class="yotpo bottomLine"
                data-appkey="3lLBvLxtXto59qFkbJb0OW5hGtCQ7VU2CrOsDGgn"
                data-domain="{{shop.permanent_domain | escape }}"
                data-product-id="{{ product.id }}"
                data-product-models="{{ product.id }}"
                data-name="{{ product.title | escape }}"
                data-url="{{ shop.url }}{{ product.url }}"
                data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                data-description="{{ product.description | escape }}"
                data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
              </div>
            </div>
          </div>

          <div class="buttons_bar">
            <button class="add_to_cart">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_gray.png?v=1593891089' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_green_button.png?v=1593916239' }}" alt="green_icon">
              <!-- <img class="cart_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/add_to_cart.png?v=1593920675' }}" alt="button_text"> -->
              <p class="cart_text">Add to cart</p>
            </button>
            <button class="add_to_wishlist">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_gray.png?v=1593911148' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_green.png?v=1593916371' }}" alt="green_icon">
              <!-- <img class="wishlist_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_to_wishlist.png?v=1593920675' }}" alt="button_text"> -->
              <p class="wishlist_text">Add to wishlist</p>
            </button>
            <button class="compare">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_gray.png?v=1593913446' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_green.png?v=1593915728' }}" alt="green_icon">
              <!-- <img class="compare_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_toCompare.png?v=1593920675' }}" alt="button_text" > -->
              <p class="compare_text">Add to compare</p>
            </button>
          </div>
        </div>
      {% endfor %}      
    </div>
  </div>



  <div class="tabcontent" id="content4">
    <div class="tabs_container">
      {% for product in Top_Rating_collection.products %}
        <div class="tab_product">
          {% if product.compare_at_price %}
            <div class="discount_percent">
              <p>{{ product.price | minus: product.compare_at_price | divided_by: 100 | money_without_currency | remove: '.00' }}%</p>
            </div>
          {% endif %}
          <div class="product_photo">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'large' }}" alt="product_image">            
            </a>
          </div>
          <div class="product_name_container">
            <p>{{ product.title }}</p>
          </div>
          <div class="price_and_rating">
            <div class="price">
              {% if product.compare_at_price %}
                <p class="previous_price">{{ product.compare_at_price | money_with_currency }}</p>
                <p class="current_price price_highlight">{{ product.price | money_with_currency }}</p>               
              {% else %}
                <p class="current_price">{{ product.price | money_with_currency }}</p>
              {% endif %}
            </div>
            <div class="rating">
              <div class="yotpo bottomLine"
                data-appkey="3lLBvLxtXto59qFkbJb0OW5hGtCQ7VU2CrOsDGgn"
                data-domain="{{shop.permanent_domain | escape }}"
                data-product-id="{{ product.id }}"
                data-product-models="{{ product.id }}"
                data-name="{{ product.title | escape }}"
                data-url="{{ shop.url }}{{ product.url }}"
                data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                data-description="{{ product.description | escape }}"
                data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
              </div>
            </div>
          </div>

          <div class="buttons_bar">
            <button class="add_to_cart">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_gray.png?v=1593891089' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_green_button.png?v=1593916239' }}" alt="green_icon">
              <!-- <img class="cart_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/add_to_cart.png?v=1593920675' }}" alt="button_text"> -->
              <p class="cart_text">Add to cart</p>
            </button>
            <button class="add_to_wishlist">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_gray.png?v=1593911148' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_green.png?v=1593916371' }}" alt="green_icon">
              <!-- <img class="wishlist_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_to_wishlist.png?v=1593920675' }}" alt="button_text"> -->
              <p class="wishlist_text">Add to wishlist</p>
            </button>
            <button class="compare">
              <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_gray.png?v=1593913446' }}" alt="gray_icon">
              <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_green.png?v=1593915728' }}" alt="green_icon">
              <!-- <img class="compare_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_toCompare.png?v=1593920675' }}" alt="button_text" > -->
              <p class="compare_text">Add to compare</p>
            </button>
          </div>
        </div>
      {% endfor %}      
    </div>
  </div>
</div>

<script>
  var currentTab = 1;
  $("#content1").show();

  var cur_tab = 1;
  $("#tab1").addClass("active");

  // Tabs for Desktop
  $(document).on('click', 'nav.multiTabs>a',
  function(){
      var TabId = $(this).attr('data-trigger');
      $('div#'+TabId+' ').show();
       
      // console.log("Current Tab: " + TabId);
      currentTab = parseInt(TabId.replace("content", ""));

      var tab = $(event.target).context;
      var tabId = tab.id;
      // console.log('tab: ', tab);
      // console.log('tab_id: ', tabId);

      cur_tab = parseInt(tabId.replace("tab", ""));
      // console.log('cur_tab: ', cur_tab);

      $(".tab").removeClass("active");
      $(tab).addClass("active");


      $('.tabcontent:not(#'+TabId+')').hide();

  });

  // Tabs for Mobile Dropdown
  $(document).on('click', 'div.tabs_dropdown.select.option.div.tab',
  function(){
      var TabId = $(this).attr('data-trigger');
      $('div#'+TabId+' ').show();
       
      console.log("Current Tab: " + TabId);
      currentTab = parseInt(TabId.replace("content", ""));

      var tab = $(event.target).context;
      var tabId = tab.id;
      console.log('tab: ', tab);
      console.log('tab_id: ', tabId);

      cur_tab = parseInt(tabId.replace("mobile_tab", ""));
      console.log('cur_tab: ', cur_tab);

      $(".tab").removeClass("active");
      $(tab).addClass("active");


      $('.tabcontent:not(#'+TabId+')').hide();

  });
   
  function next(){
      if(currentTab < 4){
          $(".tabcontent").hide();
          currentTab++;
          $("#content"+(currentTab)).show();
      }

      if(cur_tab < 4){
        $(".tab").removeClass("active");
        cur_tab++;
        // console.log(cur_tab);
        $("#tab"+(cur_tab)).addClass("active");
      }
  }
   
  function prev(){
      if(currentTab > 1){
          $(".tabcontent").hide();
          currentTab--;
          $("#content" + (currentTab)).show();
      }

      if(cur_tab > 1){
        $(".tab").removeClass("active");
        cur_tab--;
        // console.log(cur_tab);
        $("#tab"+(cur_tab)).addClass("active");
      }
  }
</script>