<div class="product_tabs_1_desktop">
  <div class="tabs_header">
    <div class="arrow left">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/left_green_arrow.png?v=1593000609' }}" alt="left_arrow">
    </div>
    <div class="tab active" id="desktop">Laptop</div>
    <div class="arrow right">
      <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/right_green_arrow.png?v=1593000611' }}" alt="right_arrow">
    </div>
  </div>
  <div class="tabs_container desktop">




    <div class="tab_product">
      <div class="product_photo">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/product_1.png?v=1593976605' }}" alt="product_photo">
      </div>
      <div class="product_name_container">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Smart_Phone_Primo_V1.png?v=1593796862' }}" alt="product_name">
      </div>
      <div class="price_and_rating">
        <div class="price">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/10299.png?v=1593799422' }}" alt="price">
        </div>
        <div class="rating">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/rating_4_and_half_stars.png?v=1593818569' }}" alt="rating">
        </div>
      </div>


      <div class="buttons_bar">
        <button class="add_to_cart">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_gray.png?v=1593891089' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_green_button.png?v=1593916239' }}" alt="green_icon">
          <img class="cart_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/add_to_cart.png?v=1593920675' }}" alt="button_text">
        </button>
        <button class="add_to_wishlist">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_gray.png?v=1593911148' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_green.png?v=1593916371' }}" alt="green_icon">
          <img class="wishlist_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_to_wishlist.png?v=1593920675' }}" alt="button_text">
        </button>
        <button class="compare">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_gray.png?v=1593913446' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_green.png?v=1593915728' }}" alt="green_icon">
          <img class="compare_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_toCompare.png?v=1593920675' }}" alt="button_text" >
        </button>
      </div>


    </div>








    <div class="tab_product">
      <div class="product_photo">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/product_2.png?v=1593976605' }}" alt="product_photo">
      </div>
      <div class="product_name_container">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Smart_Phone_Primo_V1.png?v=1593796862' }}" alt="product_name">
      </div>
      <div class="price_and_rating">
        <div class="price">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/10000_8000.png?v=1593800023' }}" alt="price">
        </div>
        <div class="rating">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/rating_4_of_5_stars.png?v=1593818569' }}" alt="rating">
        </div>
      </div>

      <div class="buttons_bar">
        <button class="add_to_cart">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_gray.png?v=1593891089' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_green_button.png?v=1593916239' }}" alt="green_icon">
          <img class="cart_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/add_to_cart.png?v=1593920675' }}" alt="button_text">
        </button>
        <button class="add_to_wishlist">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_gray.png?v=1593911148' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_green.png?v=1593916371' }}" alt="green_icon">
          <img class="wishlist_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_to_wishlist.png?v=1593920675' }}" alt="button_text">
        </button>
        <button class="compare">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_gray.png?v=1593913446' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_green.png?v=1593915728' }}" alt="green_icon">
          <img class="compare_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_toCompare.png?v=1593920675' }}" alt="button_text" >
        </button>
      </div>


    </div>




    <div class="tab_product">
      <div class="product_photo">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/product_3.png?v=1593976604' }}" alt="product_photo">
      </div>
      <div class="product_name_container">
        <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Smart_Phone_Primo_V1.png?v=1593796862' }}" alt="product_name">
      </div>
      <div class="price_and_rating">
        <div class="price">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/10299_221dde58-6d33-4ec0-bb66-7f36a584182b.png?v=1593805360' }}" alt="price">
        </div>
        <div class="rating">
          <img src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/rating_3_and_half_stars.png?v=1593818569' }}" alt="rating">
        </div>
      </div>


      <div class="buttons_bar">
        <button class="add_to_cart">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_gray.png?v=1593891089' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/cart_green_button.png?v=1593916239' }}" alt="green_icon">
          <img class="cart_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/add_to_cart.png?v=1593920675' }}" alt="button_text">
        </button>
        <button class="add_to_wishlist">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_gray.png?v=1593911148' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/wishlist_green.png?v=1593916371' }}" alt="green_icon">
          <img class="wishlist_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_to_wishlist.png?v=1593920675' }}" alt="button_text">
        </button>
        <button class="compare">
          <img class="gray_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_gray.png?v=1593913446' }}" alt="gray_icon">
          <img class="green_icon" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/compare_green.png?v=1593915728' }}" alt="green_icon">
          <img class="compare_text" src="{{ 'https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Add_toCompare.png?v=1593920675' }}" alt="button_text" >
        </button>
      </div>


    </div>
    <!-- {% include 'tab_product' %}
    {% include 'tab_product' %}
    {% include 'tab_product' %} -->
  </div>
</div>