<div class="promo">
  <div class="first half">

    {% assign product_image =  all_products["primo-gh"].featured_image %}
    <img class="product_image" src="{{ product_image | img_url: 'large' }}" alt="product_image">

    <div class="price">
      <img class="green_circle" src="https://cdn.shopify.com/s/files/1/0401/9974/9789/files/Ellipse_2.png?v=1595271556" alt="green_circle">
      {% assign compare_price = all_products["primo-gh"].compare_at_price %}
      <p class="compare_price">{{ compare_price | money_with_currency }}</p>
      {% assign actual_price = all_products["primo-gh"].price %}
      <p class="actual_price">{{ actual_price | money_with_currency }}</p>
    </div>

  </div>
  <div class="second half">
    <!-- {{ COUNTDOWN }} -->
    {% assign percent = all_products["primo-gh"].price | times: 10 | divided_by: all_products["primo-gh"].compare_at_price | times: 10 %}
    <h1 class="heading"><span>{{ percent }} % </span>off</h1>
    {% assign product_name = all_products["primo-gh"].title %}
    <h2 class="subheading">for <span>{{ product_name }}</span></h2>
    <p class="description-header">Power packed performance</p>
    {% assign product_description = all_products["primo-gh"].description %}
    <p class="description">{{ product_description }}</p>
  </div>
</div>